*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted #162542;
  outline-offset: 3px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding-left: 5rem;
  padding-right: 5px;
  margin: 0 auto;
}

.btn {
  padding: 1.6rem 2.7rem;
  font-weight: 700;
  line-height: 1.62;
  text-transform: uppercase;
  border-radius: 8px;
}

.orange-btn {
  color: #ffffff;
  background-color: #f16718;
  transition: all 0.3s ease-in;
}
.orange-btn:hover {
  background-color: #ff9b62;
}

.light-btn {
  color: #162542;
  background-color: #e8eff2;
  transition: all 0.3s ease-in;
}
.light-btn:hover {
  background-color: #162542;
  color: #ffffff;
}

/* barlow-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/barlow-v12-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  color: #162542;
  font-family: "Barlow", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: #162542;
  font-weight: 900;
}

h1 {
  font-size: 5.6rem;
  line-height: 1;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.625;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.625;
}

.cta {
  margin-bottom: 12.8rem;
}

.cta__continer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta__item {
  width: 100%;
  max-width: 255px;
}

.cta-img {
  margin-bottom: 4.8rem;
}

.cta__title {
  margin-bottom: 2.4rem;
}

.cta__desc {
  color: #7b8bad;
}

.footer__container {
  text-align: center;
  margin-bottom: 3.9rem;
}

.footer__desc {
  color: #7b8bad;
  font-weight: 700;
}
.footer__desc span {
  font-weight: 500;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.site-logo {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in;
}
.site-logo:hover {
  opacity: 0.8;
}
.site-logo:active {
  opacity: 0.8;
}

main {
  flex-grow: 1;
}

.hero {
  margin-top: 3.3rem;
  position: relative;
}

.hero-image {
  position: absolute;
  bottom: -52rem;
}

.hero-image-2 {
  position: absolute;
  right: 0;
  top: 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-wrapper {
  width: 100%;
  max-width: 445px;
}

.hero__title {
  margin-bottom: 2.4rem;
}

.hero__desc {
  margin-bottom: 4rem;
}

.hero__left-btn {
  color: #7b8bad;
  transition: all 0.3s ease-in;
  margin-left: 2rem;
}
.hero__left-btn:hover {
  background-color: #162542;
}

.hero__img {
  border-radius: 20px;
  width: 540px;
  height: 480px;
}

.wedo {
  margin-top: 4rem;
  margin-bottom: 16.8rem;
}

.wedo__container {
  display: flex;
  align-items: center;
}

.wedo-img {
  border-radius: 20px;
  margin-right: auto;
}

.wedo-left-img {
  margin-right: 3rem;
  background-image: linear-gradient(rgba(241, 103, 24, 0.7), rgba(241, 103, 24, 0.5));
}

.wedo__wrapper {
  width: 100%;
  max-width: 255px;
}

.wedo__title {
  margin-bottom: 2.7rem;
}

.wedo__desc {
  color: #7b8bad;
}/*# sourceMappingURL=style.css.map */