.header {
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.site-logo {
}

.site__logo-img {
}

.nav__btn {
}

.light-btn {
}
