.header {
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.site-logo {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.8;
  }
}

.site__logo-img {
}

.nav__btn {
}

.light-btn {
}
