main {
  flex-grow: 1;
}

.hero {
  margin-top: 3.3rem;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-wrapper {
  width: 100%;
  max-width: 445px;
}

.hero__title {
  margin-bottom: 2.4rem;
}

.hero__desc {
  margin-bottom: 4rem;
}

.hero__left-btn {
  color: $silver-color;
  transition: all 0.3s ease-in;
  margin-left: 2rem;

  &:hover {
    background-color: $dark-green-color;
  }
}

.hero__img {
  border-radius: 20px;
  width: 540px;
  height: 480px;
}
