*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  display: flex;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}
